*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    color: #fff  !important;
}
.nav.navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.collapse.navbar-collapse{
    float: right  !important;
}
a.navbar-brand{
    color: #ffc800 !important;
}
.navbar-brand:hover,
.nav-item:hover
{
    color: #ffc800;
}
.info-page{
    display: inline-block;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-color: #cccccc;
    background-position:center;
    background-repeat: no-repeat;  
    background-size: cover;
    /* height: 600px; */
    width: 100%;
    text-align: center;
    padding: 280px 0 250px 0;
    color: #fff;
}
.info-page p{
    font-size: 20px;
    /* font-weight: bold; */
    font-style: italic;
}
.info-page h1{
    font-size: 60px;
    font-weight: bold;
}
.info-page button{
    color: #fff;
    background: #ffc800;
}
.service-page {
    max-width: 1300px;
    width: 100%;
    text-align: center;
    margin: 80px auto;

}
.title-tab{
    margin: 40px 0;
}
.title-tab h2{
    font-weight: 700;
    font-size: 40px;
}
.title-tab p{
    color: #6c757d ;
    font-size: 20px;
    font-style: italic;
}
.service-list.row{
    width: 100%;
    margin-left: 0;
}
.service-list.row i{
    width: 124px;
    height: 124px;
    background-color:#ffc800;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    /* font-weight: bold; */
    padding: 35px 0;
}
.portfolio{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #e9ecef;
    padding: 80px 0;
}
.portfolio-page{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.portfolio-list.row{
    width: 100%;
    text-align: center;
    margin-left: 0 !important;
}
.portfolio-list__col img{
    width: 100%;
}
.back-ground__white{
    background-color: #fff;
}
.our-amazing-team{
    width: 100%;
    text-align: center;
}
.our-amazing-team__tab{
    width: 100%;
    max-width: 1300px;
    padding: 80px 0;
}
.team__info-col.col-md-4.col-sm-12.col-12{
    margin: 20px 0;
}
.team__info-col img{
    width: 224px;
    border-radius: 50%;
    border: 10px solid rgb(131, 127, 127);
}
.info__name{
    font-size: 26px;
    font-weight: 650;
    line-height: 14px;
    padding-top: 30px;
;
}
.info_job{
    color:#6c757d  ;
    font-size: 18px;
    font-weight: bold;
}
.info__contact{
    display: inline-block;
    width: 100%;
}
.info__contact i{
    padding: 12px 12px;
    background-color: #212529;
    color: #fff;
    border-radius: 30px;
    margin: 0 6px;
}
.team__info-decs{
    width: 63%;
    margin: 20px auto;
    color: #6c757d;
    font-size: 18px;
    font-weight: 400;

}
.logo-tab.row{

}
.logo-tab__col img{
    height: 44px;
}
.contact{
    width: 100%;
    /* height: 500px; */
    background-color: #212529;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png) ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center ;
}
.title-contact{
    color: #fff !important;
}
.contact-forms.row{
    width: 100%;
}
.contact-form__col input{
    width: 100%;
}
textarea.message{
    border-radius: 8px;
    width: 100%;
    height: 244px;
}
.btn-sendmessgae{
    background-color: #ffc800 !important;
    padding: 20px 40px !important;
    opacity: 0.6;
}