.d-none {
  display: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
p {
	vertical-align: middle;
	text-align: center;
	margin: 0 !important;
}
.jf_center {
	justify-content: center;
	align-items: center;
}
.spacing_top {
	width: 100%;
	height: 300px;
}
.bg_yellow {
	background-color: yellow;
}
.text {
	font-size: 14px;
}
.col.text {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.main_body p {
	text-transform: uppercase;
}
.main_body h5 {
	text-transform: uppercase;
	}
@media only screen and (max-width: 1024px) {
	.d_mb_none {
		display: none;
	}
	.d_mb_hor {
		display: flex;
		flex-direction: row !important;
	}
	.order-mb-1 {
		order: 1 !important;
	}
	.order-mb-2 {
		order: 2 !important;
	}
	.container {
		margin: 50px 0px 20px 20px !important;
	}
}