* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif, sans-serif;

}

.clear {
    clear:both;
}

header {
    height:46px;
    width:100%;
    position: fixed;
    background-color: rgb(48, 14, 48);
    top: 0;
    left: 0;
    z-index: 1;
}

.logo{
    width: 46px;
    margin-left: 4.7%;

}

.header-nav{
    list-style-type: none;
    display:inline;
    height: 100%;
    width:85%;
    float: right;
    padding-top: 14px;
    padding-right: 250px;
    background-color:rgb(99, 6, 99);

}

.header-nav > li {
    display: inline-block;
    /* để cho list li ngang ra */
    height: 100%;
    text-align: center;
    padding-right: 50px;
    padding-left: 15px;
}

#menu {
    background-color: #ccc;
    padding-top:47px;
    text-align: center;

}

.body {
    display: flex;
}

#nav-left {
    background-color: rgb(182, 204, 121);
    width: 20%;
    height: 600px;
    padding: 20px 0 20px 10px;
}

#nav-left > ul > li {
    padding-bottom: 30px;
    list-style-type: none;
}

#nav-right {
    background-color: rgb(75, 95, 18);
    width: 20%;
    height: 600px;
    padding: 20px 0 20px 10px;
}

#nav-right > ul > li {
    padding-bottom: 30px;
    list-style-type: none;
}

/* content */
/* .list-content {
    display: flex;
    width: 800px;
} */


#content {
    /* display: flex; */
    width: 100%;
    /* padding-right: 60%; */
}

.item-content {
    height: 100px;
    width: 100%;
    margin-top: 16px;
}

.logo-content {
    height: 100px;
    width: 15%;
}

.row {
    /* width: 100%; */
    float: right;
    width:85%;
}

.title {
    background-color: rgba(165, 135, 135, 0.664);
    /* padding: 6px 0 6px 0; */
    height: 20px;

}

.desc {
    background-color:rgb(156, 129, 129);
    height: 80px;
}

footer {
    background-color: #ccc;
    text-align: center;
}

