*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    border: 4px solid red;
}
.header{
    width: 100%;
    display: inline-block;
    border-bottom: 4px solid red;

}
.header__logo{
    float: left;
    width: 10%;
    object-fit: cover;
    border-right: 4px solid red;
    
}
.header__logo img {
    width: 100%;
    height:60px;

}
.header__header{
    /* float: right;; */
    height:60px;
    padding: 2px 4px;
    text-align: center;
    background-color: #fafafa;
}
.menu{
    background-color: blue;
    width: 100%;
    height:60px;
    text-align: center;
    color: white;
    border-bottom: 4px solid red;

}
.menu ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}
.menu ul li {

}

.main__content{
    display: flex;
    height: 450px;
    text-align: center;
    border-bottom: 4px solid red;
}
.sidebar__left{
    width: 20%;
    background-color: pink;
    font-size: 40px;
    font-weight: bold;
    border-right: 4px solid red;
    line-height: 10;
}
.content{
    width: 60%;
    background-color: yellow;
    font-weight: bold;  
    border-right: 4px solid red;
}
.content__list {
    margin: 10px 20px;
    border: 2px solid red;
    
}
.content__list--image{
    border-right:  2px solid red;
}
.content__list--title{
    width: 100%;
    border-bottom:  2px solid red;
}
.sidebar_right{
    width: 20%;
    background-color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    line-height: 10;
}
.footer{
    width: 100%;
    background-color: aqua;
    height: 50px;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}