.container{
    margin-top: 50px;
}
.menu{
    background: #0984e3;
    text-align: center;
}
.container .menu ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.container .menu ul a{
    color: #fff;
    text-decoration: none;
}
