body{
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px;
}
.container .box{
    margin-top: 10px;
    display: flex;
    border: 1px solid red;
}
.container .box .img img{
    width: 120px;
    height: 118px;
    border: 1px solid red;
}
.container .box .content{
    width: 100%;
    color: #d63031;
}
.container .box .content .title{
    width: 100%;
    border: 1px solid red;
    text-align: center;
    text-transform: uppercase;
}
.container .box .content .detail{
    width: 100%;
    padding: 2px;
    border: 1px solid red;
}