.product{
    margin-top: 50px;
}
.card .img{
    width: 300px;
    height: 200px;
}


.table img{
    width: 60px;
}
.price{
    margin-left: 800px;
}
.cleanCart{
    margin-left: 800px;

}

.search .nameShop{
    color: #74b9ff;
}

.search .nameShop:hover{
    color: #d63031;
}


.icons{
    margin-left: 20px;
}
.icons .iconUser, .iconCart{
    color: #0984e3;
    margin: 10px;
}
.icons .iconUser:hover, .iconCart:hover{
    color: #d63031;
}