:root {
    --violet: #a435f0;
    --orange: orange;
    --yellow: #f9ca24;
    --grey: #95a5a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
}

/* start menu */

.menu {
    box-shadow: 5px 5px 5px #dfe6e9;
}

.menu .logo img {
    width: 50px;
    height: 50px;
}


.dropbtn {
    background-color: #fff;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

.formInput input[type=text] {
    width: 650px;
    margin-left: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image: url('./img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.icon {
    margin-top: -10px;
    margin-right: 40px;
    cursor: pointer;
}

.log {
    display: flex;

}

.button {
    margin-top: -15px !important;
    margin: 0px 5px;
    width: 75px;
    font-size: 15px;
    background: #fff;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #f5f6fa;
}

.buttonO {
    background: #000;
    color: wheat;
}

.buttonO:hover {
    background: #000;
}

/* end menu */

.spc {
    font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
    margin-top: 50px;
    margin-left: 100px;
    letter-spacing: -.5px;
    text-transform: capitalize;
}

/* start productCart */
.product {
    display: flex;
}

.checked {
    color: var(--orange);
}

.productCart h4 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.15;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.box {
    width: 800px;
    border: 1px solid #b2bec3;
    display: flex;
    margin-left: 100px;
}

.box .smallBox img {
    margin: 10px;
    width: 150px;
    height: 130px;
}

.smallBox h6 {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.smallBox .author {
    color: #95a5a6;
    font-size: 15px;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
}

.smallBox .start {
    display: flex;
    margin-left: 20px;
}

.smallBox .start .sell {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    background: var(--yellow);
    margin: 5px;
    padding: 2px 5px;
}

.smallBox .start span {
    margin-top: 15px;
    font-size: 14px;
}

.smallBox .start .rank {
    margin: 12px 5px;
}

.smallBox .time {
    color: #95a5a6;
    margin-left: 20px;
    font-size: 15px;
    background-color: transparent;
    font-weight: 400;
    text-decoration: none;
}

.smallBox .func {
    margin-top: 10px;
    text-align: right;
}

.smallBox .func a {
    text-decoration: none;
    color: var(--violet);
    font-size: 14px;
}

.smallBox .price {
    margin-left: 20px;
    margin-top: 10px;
}

.smallBox .newPrice {
    color: var(--violet);
    font-size: 16px;
}

.smallBox .oldPrice {
    color: var(--grey);
    text-decoration-line: line-through;
    font-size: 14px;
}

/* end productCart */

/* start checkOut */
.checkOut {
    margin-top: 50px;
    margin-left: 50px;
    text-transform: capitalize;
}

.btn {
    padding: 10px 120px;
    background: var(--violet);
}

.btn:hover {
    background: #9b59b6;
}

.checkOut .km {
    color: #000;
}

.checkOut p {
    font-size: 14px;
    margin-top: 20px;
    color: var(--grey);
}

.checkOut form input {
    border: 2px solid #2d3436;
    font-size: 16px;
    padding: 5px 20px;
}

.checkOut .sub {
    background: var(--violet);
    font-size: 16px;
    padding: 5px 20px;
}

/* end checkOut */


/* start slider */
section {
    position: relative;
    height: 450px;
    width: 1400px;
    display: flex;
    align-items: center;
}

.swiper {
    width: 1050px;
    margin-top: 200px;
    margin-left: 150px;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

section .card .image {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    padding: 3px;
    /* background: #7d2ae8; */
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    border: 3px solid #fff;
}

.card .cartContent h4 {
    font-size: 14px;
}

.card .cartContent p {
    color: var(--grey);
    font-size: 12px;
}

.card .cartContent .star {
    font-size: 10px;
}

.card .cartContent .pr {
    display: flex;

}

.card .cartContent .pr .cost {
    text-decoration-line: line-through;
    color: #000;
    font-size: 14px;
}

.card .cartContent .pr .promotion {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #7d2ae8;
}

.swiper-button-next, .swiper-button-prev {
    height: 50px;
    width: 50px;
    background: var(--violet);
    margin-top: 50px;
    opacity: 0.7;
    color: #fff;
    transition: all 0.3s ease;
    border: 2px solid #333;
    border-radius: 20%;
}

.swiper-button-next {
    position: absolute;
    z-index: 99999;
    margin-right: 50px;
    float: right;
}

.swiper-button-prev {
    position: absolute;
    z-index: 99999;
    margin-left: 50px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
    color: #fff;
}

/* end slider */



/* start footer */
.footer {
    background: #1c1d1f;
    margin-top: 150px;
}

.footer .heading {
    display: flex;
}

.footer .title span {
    color: #fff;
    margin-left: 40px;
}

.footer .title span a {
    color: var(--grey);
}

.footer .logoBusiness {
    margin-left: 300px;
}

.footer .section-content {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    color: #fff;
}

.footer .section-content .one {
    margin-left: 20px;
}

.footer .section-content .one ul li {
    list-style: none;
}

.footer .section-content .one ul li a {
    color: #fff;
    text-decoration: none;
}

.footer .section-content .two {
    margin-left: 60px;
}

.footer .section-content .two ul li {
    list-style: none;
}

.footer .section-content .two ul li a {
    color: #fff;
    text-decoration: none;
}

.footer .section-content .three {
    margin-left: 80px;
}

.footer .section-content .three ul li {
    list-style: none;
}

.footer .section-content .three ul li a {
    color: #fff;
    text-decoration: none;
}

.footer .content {
    display: flex;
}

.footer .logo-content img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.footer .copyright-content span {
    color: #fff;
    font-size: 14px;
    margin-left: 1100px;
}

/* end footer */