.navbar-light .navbar-nav .nav-link {
    color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background: #212529;
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
}