* {
    margin: 0;
    padding: 0;
  }
  section {
    
  
    transform: translateY(68px);
  }
  
  .cards {
    width: 310px;
    /* height: 420px; */
    margin: 30px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    
    overflow: hidden;
    /* background-color: aquamarine; */
  }
  
  .cards:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    /* cursor: pointer; */
  }
  .image_box {
    margin: 15px 0px;
  }
  .image_box img {
    border: 1px solid #b03be27a;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
  }
  .details p {
    margin: 5px 0px;
  }
  /* .detail .course-author, .detail .course-date{
      margin: 0x 0px 5px 0px;
  } */
  
  .details p:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
  }
  .details p:nth-child(2) {
    color: grey;
    font-size: 14px;
  }
  .details p:nth-child(3) {
    /* font-weight: bolx;
    color: grey;
    font-size: 13px; */
    /* color: #1c1d1f;
    display: inline;
    font-family: sf pro display;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 19.2px; */
  }
  .details .course-price {
    color: #1c1d1f;
    /* display: inline; */
    /* font-family: sf pro display; */
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 19.2px;
  }
  
  .details button {
    padding: 5px 10px;
    border: none;
    color: #181717d6;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: #ba5cf4e8;
    outline: none;
    border-radius: 7px;
    margin: 4px 0px 15px 0px;
  }
  .search {
    /* display: flex; */
    margin-top: 30px;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 30px;
  }
  .search_item input {
    width: 100%;
  
    border-radius: 8px;
    border-color: #a435f0;
    padding: 8px 20px;
  }
  .group-language input {
    width: 30%;
    padding: 4px 20px;
    border-radius: 6px;
    text-align: start;
    /* line-height: 18px; */
    /* border-color: #8a2be2d9; */
  }
  
  .rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .course-date {
    color: grey;
    font-size: 12px;
    font-weight: 500;
  }
  .rate p:first-child,
  .rate p:last-child {
    padding-right: 4px;
  }
  
  .rate-start {
    font-size: 11px;
  }
  .rate-num {
    font-size: 14px;
  }
  .rate-start-icon {
    color: #ff9800;
  }
  