* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 68px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #ffffff;
    /* background-image: url("https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"); */
  }
  article {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 60%;
    margin: auto;
    top: 11%;
  }
  .nav_logo {
    margin-top: 8px;
  }
  .img_logo {
    width: 90px;
    height: fit-content;
  }
  .nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 68px;
  }
  .nav-search {
    /* display: flex; */
  }
  .nav__search-input {
    border-radius: 30px;
    width: 470px;
    outline: none;
    transform: translateY(-6px);
    padding: 13px 20px;
    border: 1px solid #000;
  }
  .nav_logo-search {
    color: #000;
  }
  .my_shop {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
  }
  .cart {
    cursor: pointer;
  }
  .cart span:nth-child(1) {
    font-size: 2rem;
    color: #000;
  }
  .cart span:nth-child(2) {
    padding: 0 3px;
    background-color: red;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
  }
  