* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "SuisseWorlds", "Georgia", "Helvetica";
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
.row.center {
  align-items: center;
}
.col {
  display: flex;
  /* flex-direction: column; */
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block-col {
  border: 1px solid rgb(224, 214, 214);
}

.margintb {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
}

.header-cart a {
  line-height: 2.5rem;
  text-align: center;
}

/* product cart start*/
.table {
  /* display: block; */
  position: relative;
  background-clip: padding-box;
  border: 10px solid transparent;
  border-radius: 20px;
  background-color: #fff;
}

.table:before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background-image: linear-gradient(to right bottom, #ffa400, #ff6bcb);
}
/* product cart end*/


/* title cart */

.title-cart {
  /* width: 50rem;
  height: 5rem; */
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 10%;
  padding: 34px 0;
}
/* cart  */
.block {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  /* border-radius: 0.5rem; */
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
}

.checkout {
  /* display: none; */
  background-color: #a435f0;
  width: 290px;
  height: 54px;
}
.btn-add-cart {
  /* display: none; */
  background-color: #a435f0;
  width: 286;
  height: 54px;
}
.show {
  display: none;
}

.detail-product:hover + .show, .show:hover {
  display: block;
}
/* .btn-add-cart:hover {
  display: none !important;
} */

.btn-promotions,
.checkout {
  color: #fff;
}

.input-promotions {
  height: 2rem;
  width: 243px;
  border: 1px solid rgb(49, 48, 48);
  border-right: 0;
}

.text-right {
  text-align: right;
}
img.small {
  height: 6rem;
  width: 6rem;
  margin-bottom: 2.5rem;
}

/* btn */

.btn-promotions {
  height: 2rem;
  width: 3rem;
  margin: 0;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  /* border-radius: 0.5rem; */
  /* border: 0.1rem #404040 solid; */
  background-color: #a435f0;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.removeAll {
  display: flex;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

/* list product */

main {
  margin: 2rem 3rem;
}

.list-products {
  /* margin-top:400px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 2rem;
}
/* item product start*/
.border1 {
  border-left: solid 2px rgba(235,235,235,1);
  border-right: solid 2px rgba(235,235,235,1);
  border-top: solid 2px rgba(235,235,235,0);
  border-bottom: solid 2px rgba(235,235,235,0);
}

.border1:hover {
  box-shadow: 0 25px 29px rgb(63 78 100 / 15%);
  border: solid 2px rgba(235,235,235,1);
}

.price {
  padding-bottom: 3rem;
}
/* item product end*/


.item-product {
  /* flex-direction: column; */
  margin: 10px;
  width: 290px;
  height: 290px;
}

.detail-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Responsive */

/* PC */

@media (min-width: 63.94rem) {
  .list-products {
    margin: 0 8rem;
  }
}

/* Table  & Mobile*/
@media (max-width: 47.94rem) {
  header > img {
    margin-left: 40%;
  }

  .table {
    display: none;
  }

  .block-table {
    width: 100%;
  }
  .checkout {
    width: 100%;
  }
  .input-promotions {
    width: 90%;
  }
  .btn-promotions {
    width: 10%;
  }
  div.title-cart {
    display: none;
  }
}

/* Mobile */

@media (max-width: 34.38rem) {
  .input-promotions {
    width: auto;
  }
}
