p {
  margin: 5px 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  cursor: pointer;
}
.bd {
  border: 1px solid #aaa;
}
.bd_bottom {
  border-bottom: 1px solid #aaa;
}
.bd_top {
  border-top: 1px solid #aaa;
}
.bd_left {
  border-left: 1px solid #aaa;
}
.bd_right {
  border-right: 1px solid #aaa;
}
.d_flex_hor {
  display: flex;
  flex-direction: row;
}
.d_flex_ver {
  display: flex;
  flex-direction: column;
}
.f_wrap {
  flex-wrap: wrap;
}
.d_grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.mg_center {
  margin-left: auto;
  margin-right: auto;
}
.fw_bold {
  font-weight: bold;
  font-size: 18px;
}
.color_red {
  color: red;
}
.item_carts {
  position: relative;
  color: rgb(155, 20, 148);
  padding: 5px;
  /* background-color: rgb(114, 236, 179); */
}
.cart {
  position: relative;
  padding: 5px 20px;
  justify-content: space-around;
}
.tool_bar {
  padding: 5px 15px;
  justify-content: space-around;
  margin: 30px 0px;
}

.search_item input {
  width: 300px;
  padding: 0 15px;
  margin: 0 !important;
}
.about_cart {
  justify-content: center;
  margin: 5px 0px 5px 30px;
  width: 30%;
}
.about_cart > p {
  margin: 0 5px;
}
.item {
  position: relative;
  width: auto;
  height: 360px;
  overflow: hidden;
  padding: 30px;
}
.item > div {
  margin: 5px;
}
.img_item {
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.des_item {
  display: inline-block;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.des_item p {
  text-overflow: ellipsis;
}
.footer_item {
  align-items: center;
  position: absolute;
  bottom: 20px;
}
.to_cart_item {
  margin-left: 32px;
}
.to_cart_item button {
  padding: 8px 24px;
  background-color: #a435f0;
  color: white;
  border: 1px solid #aaa;
}