$deepPurple: #a435f0;
$textColor: #1c1d1f;
$d_none: none;
$font_size: 16px;
$padding: 4px;
$margin: 4px;
.d_none {
    display: none;
}


// 
body {
    font-size: $font_size;
}
.App {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.body_screen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    min-width: 320px;
    width: 1170px;
}
.nav_bar {  
    padding: $padding*2;
    width: 100vw !important;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 4px rgb(0 0 0 / 8%);
    
    .menu_icon {
        display: none;
        position: absolute;
        left: 20px;
    }
    .nav_bar_search_item {
        width: 750px;
        overflow: hidden;
        border: 1px solid #aaa;
        border-radius: 16px;
        input{
            padding: $padding*4 $padding*8;
            width: 100%;
            border: none;
        }
    }
    .nav_bar_item.d_flex_hor {
        
        align-items: center;
        justify-content: space-around;
        div {
            margin: 0 10px;
            button {
                padding: $padding*3;
                border: 1px solid #666;
                color: black;
                font-weight: 700;
                background-color: white;
            }
            p {
                text-align: center;
                color: white;
                background-color: $deepPurple;
                padding: $padding $padding*2;
                border-radius: 50px;
            }
        }
        .btn_signup button {
            color: white !important;
            background-color: black !important;
        }
        
    }
}
.title_cart {
    color: $textColor;
    font-size: 2rem;
}
.item_carts_child {
    width: 70%;
}

.cart {
    height: 100px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    .img_cart {
        width: 30%;
        height: 100%;
        overflow: hidden;
    }
    div.d_flex_hor.f_wrap {
        width: 65%;
        padding: 5px;
        div {
            margin: 0 4px;
        }
    }
    
}
.btn_bar {
    
    button {
        background-color: transparent;
        border: none !important;
    }
}
.about_cart {
    margin-top: 30px;
    align-items: start;
    justify-content: start;
    p {
        margin: 10px 0px;
        font-size: 1.25 rem;
    }
    button {
        width: 100%;
        margin: 10px 0px;
        padding-right: auto;
        padding-left: auto;
        padding-top: $padding*4;
        padding-bottom: $padding*4;
        background-color: $deepPurple;
        border: none !important;
        color: white;
        font-size: 1.5 rem;
        font-weight: 600;
    }
}
.color_purple {
    
    color: $deepPurple;
    font-weight: bold;
}
.cart {
    align-items: center;
    .des_cart {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        .des_cart_child {
            height: 40px;
            font-size: 0.825rem;
            color: #bbb;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .handle_cart {
        button {
            margin: 5px 0px;
        }
    }
}
.text_weight {
    color: black;
    font-weight: bold;
    font-size: 1.125rem;
}
.text_blur {
    color: #bbb;
    font-style: italic;
    font-size: 0.875rem;
}

.title_screen {
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin*5;
    margin-bottom: $margin*5;
    p {
        font-size: 3rem;
        color: $textColor;
    }
}

.App {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1200px) {
    .body_screen {
        width: 970px;
    }
}
.App {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 992px) {
    .body_screen {
        width: 750px;
    }
}
.App {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 768px) {
    .body_screen {
        width: 100%;
        padding: 0px;
    }
    .cart {
        height: 150px;
    }
    .d_none_mb {
        display: none !important;
    }
    .d_block_mb {
        display: block !important;
    }
    .d_flex_ver_mb {
        display: flex !important;
        flex-direction: column;
    }
    .order_1_mb {
        order: 1 !important;
        width: 100%;
    }
    .order_2_mb {
        order: 2 !important;
        width: 100%;
    }
    .about_cart {
        margin: 0px;

    }
    .item_carts {
        padding: 0 15px;
    }
    .d_grid_medium {
        grid-template-columns: repeat(2, auto);
    }
    .search_item input {
        width: 200px;
    }
    .nav_bar_item.d_flex_hor {
        div:first-child {
            position: absolute;
            right: 0px;
        }
    }
    .logo {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
    }
}
@media only screen and (max-width: 900px) {
    .nav_bar {
        .nav_bar_search_item {
            width: 200px;
        }
    }
    .tool_bar {
        flex-wrap: wrap;
        div {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 520px) {
    .nav_bar {
        .nav_bar_search_item {
            width: 200px;
        }
    }
    .tool_bar {
        flex-wrap: wrap;
        div {
            width: 50%;
        }
    }
    .d_grid_small {
        grid-template-columns: repeat(1, auto);
    }
}
.header_top {
    width: 70%;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 768px) {
        display: none;
    }
    
}
