* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(hi.png) no-repeat center/cover;
}
#whether {
  width: 400px;
  height: fit-content;
  background: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-Weather-Background.jpg);
  /* margin: auto; */
  background-size: cover;
  text-align: center;
  background-position: bottom;
  border-radius: 12px;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  padding: 12px 12px;
  color: white;
}
.whether-search {
  width: 100%;
  padding: 14px 0px;
  /* border-radius: 6px; */
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0 15px 0 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  font-size: 19px;
}
.whether-search:focus {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px 0px 15px 0px;
}
.whether-location {
  margin: 40px 0px 27px 0px;
}
.text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.location-title {
  font-size: 35px;
}
.location-time {
  margin: 8px 0px;
  font-size: 17px;
}
.whether-cencius {
}
.cencius-label {
  display: inline-block;
  padding: 18px 40px;
  border-radius: 12px;
  background-color: rgb(255 251 251 / 38%);
}
.whether-status {
  margin-top: 15px;
  font-size: 20px;
}
.status-title {
}
.list-case {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 25px 0px 30px 0px;
}
.case-item {
  text-align: center;
}

.case__item-icon {
}

.case__item-text {
}

.case__item-icon {
}
