body {
    margin: 0px !important;
  }
  table {
    width: 100%;
    height: 100vh;
  }
    table, tr, td {
  border: 1px solid red;
  border-collapse: collapse;
}
tr {
  width: 100%;
}
td {
  text-align: center;
}
p {
  color: red;
  text-transform: uppercase;
}
.logo {
  width: 30% !important;
}
.header {
  width: 70% !important;
}
.section {
  height: 60%;
}
.footer {
  text-align: center;
  width: 100%;
}