body {
  margin: 0px !important;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}
div {
  text-align: center;
}
p {
  color: black;
  text-transform: uppercase;
  margin: 0 !important;
}
header {
  /*position: relative;*/
  width: 100%;
  height: 12.5%;
}
nav {
  height: 5%;
}
.bd_right {
  /*border-right: 1px solid red;*/
}
.bd_left {
  /*border-left: 1px solid red;
*/      }
.bd_bottom {
  /*border-bottom: 1px solid red;*/
}
.bd_top {
  /*border-top: 1px solid red;
*/      }
.logo {
  width: 30% !important;
  float: left;
  height: 100%;
}
.vertical_align {
  display: table;
  overflow: hidden;
}
.vertical_align_child {
  display: table-cell;
  vertical-align: middle;
}
.header {
  width: 69.8%;
  height: 100%;
}
.menu {
  height: 100%;
  width: 100% !important;
  padding: 0 !important;
}
aside {
  width: 25%;
  height: 100%;
  text-align: center;
}
.left {
  float: left;
}
.center {
  height:100%;
  width: 49.5%;
  margin: 0 !important;
  float: left;
}
.right {
  float: right;
}
.section {
  height: 70%;
}
footer {
  text-align: center;
  width: 100%;
  height: 12%;
}
footer > div {
  height: 100%;
  width: 100%;
}
footer p {
  color: red;
  font-weight: bold;
}
section {
  background-color: green
}
.header p {
  color: #3d89d2;
  font-size: 25px;
  font-weight: bold;
}
ul.nav-bar {
      margin: 0px;
      height: 100%;
      list-style-type: none;
      background-color: #3d89d2;
    }
 a {
      text-decoration: none;
      color: white;
      font-size: 21px;
    }
.nav-bar li {
  height: 100%;
      width: 15%;
      display: inline-block;
      padding: 5px 30px;

}
  

ul {
margin: 0 ;
padding: 0 ;
}
ul.content {
  list-style-type: none;
  width: 100%;
  height: auto;
}
li {
  padding: 15px;
}
.container {
   width: 100%;
   overflow: hidden;
   height: 100px;
   
}

.img {
  width: 20%;
  height: 100%;
  float: left;
   overflow: hidden;
         }
.img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sidebar {
  width: 79.8%;
  float: right;
  height: 100px;
}
.title {
  height: 30%;
  width: 100%;
  text-align: start;
  padding: 0px 20px;
  vertical-align: middle;
}
.des {
  padding: 0px 20px;
  text-align: start;
}