.navbar .logo img {
  width: 50px;
  height: 50px;
}
.navbar-light .navbar-nav .btn {
  color: #fff;
}
.navbar-light .navbar-nav .btn:hover {
    color: #fff;
  }
.notification i {
  cursor: pointer;
}

.notification i:hover {
  color: brown;
}
