.banner img {
  width: 150px;
}

.item {
  margin-left: 230px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  line-height: 40px;
  font-size: 15px;
}
.item-Nav {
  background: #d63031;
  margin-top: -10px;
}
.img-fluid {
  max-width: 100%;
  height: 200px;
}

@media only screen and (max-width: 1200px) {
  .banner img {
    width: 100px;
  }

  .content .container {
    width: 1200px;
  }

  .content .container .content-left {
    width: 620px;
  }

  .content .container .content-left .left .card {
    width: 490px;
  }

  .content .container .content-left .right {
    margin-left: 100px;
    width: 100px;
  }

  .content .container .content-right {
    width: 280px;
    margin-left: 240px;
  }
  .content .container .content-left .s1 {
    width: 800px;
  }

  .content .container .content-left .s2 {
    width: 800px;
  }

  .content .container .content-left .News-hot {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .banner img {
    width: 100px;
  }
  .content .container .content-left {
    width: 600px;
  }

  .content .container .content-left .left .card {
    width: 480px;
    margin-left: -50px;
  }

  .content .container .content-left .right {
    width: 100px;
    margin-left: 55px;
  }

  .content .container .content-left .right img {
    width: 140px;
    height: 600px;
  }

  .content .container .content-right {
    width: 50px;
    margin-left: 5px;
  }

  .content .container .content-right img {
    width: 120px;
  }

  .content .container .content-left .s1 {
    margin-top: 50px;
    width: 600px;
  }

  .content .container .content-left .s2 {
    margin-top: 50px;
    width: 600px;
  }

  .content .container .content-left .News-hot {
    margin-top: 50px;
    width: 600px;
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    width: 100%;
  }

  nav{
    width: 700px;
  }

  .content {
    width: 700px;
  }

  .content .container .content-left {
    width: 500px;
  }

  .content .container .content-left .left .card {
    width: 450px;
    height: 400px;
    margin-left: -10px;
  }

  .content .container .content-left .left .card .card-title {
    font-size: 16px;
  }

  .content .container .content-left .left .card .card-text {
    font-size: 14px;
  }

  .content .container .content-left .right img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }

  .content .container .content-left .s1 {
    margin-top: 50px;
    width: 450px;
  }
  .content .container .content-left .s2 {
    margin-top: 50px;
    width: 450px;
  }
  .content .container .content-left .s2 img {
    width: 500px;
  }
  .content .container .content-left .News-hot {
    margin-top: 50px;
    width: 650px;
  }

  .content .container .content-right {
    width: 100px;
    margin-left: -20px;
  }

  .content .container .content-right img {
    width: 200px;
  }
}
