body {
    padding: 0;
    margin: 0;
}

/* start topNav */
.topNav {
    display: flex;
}

.topNav .logo {
    border: 1px solid red;
}

.topNav img {
    width: 100px;
    height: 100px;
}

.topNav .header {
    width: 100%;
    border: 1px solid red;
    background: #fdcb6e;
}

.topNav .header h2 {
    margin-top: 20px;
    margin-left: 100px;
}

/* end topNav */

/* start menu */
.menu {
    text-align: center;
    justify-content: center;
    border: 1px solid red;
}

.menu ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    margin: 30px;
}

/* end menu */

/* start content */
.content {
    display: flex;
    border: 1px solid red;
}
.content h4{
    text-align: center;
}

.content .left {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    background: #a29bfe;
}


.content .mid {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    background: #74b9ff;
}

.content .right {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    background: #55efc4;
}

/* end content */

/* start footer */
.footer{
    border: 1px solid red;
    background: #ED4C67;
    width: 100%;
    height: 100px;
}
.footer h4{
    text-align: center;
}
/* end footer */