*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header.header{
    width: 100%;
    display: flex;
    padding: 10px 0 ;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 10;
}
.header__logo{
    width: 91px;
    height: 34px;
    padding-left: 10px;
}
.header__search{
    width: 40%;
    
}
.header__search input{
    border-radius: 20px;
    padding: 10px 6px;
    font-size: 20px;
    width: 100%;
    border: 1px solid #000;
    background-color: rgb(240, 239, 239);
}
.header_listUdemy{
    display: flex;
    justify-content: space-around;
}
.header_listUdemy div , .header__icon div{
    margin: 0 10px;
}
.header__icon{
    display: flex;
    font-size: 20px;
}
.main{
    margin: 0 auto;
    max-width:  1140px;
}
h1.main__shoppingCart{
    margin: 40px 0;
    font-size: 40px;
}
.cart_course{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart_listCourse{
    max-width: 830px;
    width: 100%;
}
.cart_listCourse .listCourse_qty ,.cart__total {
    font-weight: 200;
    margin-bottom: 20px;
}
.listcourse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;

}
.course__item ,.course__handle{
    display: flex;
}
.cart_img img{
    width: 128px;
    margin: 10px;
    height: 75px;
    /* object-fit: cover; */
}
.course__desc{
    margin: 10px;
}
.course__desc h3 {
    font-weight: bold;
}
.course__desc p {
    font-size: 14px;
    margin: 2px 0;
    color: #bbb;
}
.course__select {
    list-style: none;
    margin: 10px;
    color: rgb(91, 91, 267);
    text-align: end;

}
.course__price{
    font-size: 16px;
    font-weight: 900 !important;
    margin: 10px;
    color: rgb(164,53,240);
}
.cart_priceCourse{
    max-width: 290px;
}
.cart_price{
    width: 100%;
}
.cart_totalPrice{
    font-size: 40px;
}
.cart_checkout{
    list-style-type: none;
    border: none;
    width: 100%;
    padding: 20px 0;
    /* margin-bottom: 20px; */
    background-color: rgb(164,53,240);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 0;
}
.cart__Promotions{
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
.promotions{
    margin: 10px 0;
    font-size: 16px;
}
.promotions__name span {
    font-weight: 200;
}
.input__coupon{
    width: 100%;
    display: flex;
}
.input__coupon input {
    width: 80%;
    list-style: none;
    padding: 4px 6px;
}
.input__coupon button {
    width: 18%;
    list-style-type: none;
    border: none;   
    padding: 6px 6px;
    background-color: rgb(164,53,240);
    text-align: center;
}
.success__course{
    width: 100%;
    margin: 40px 0;
}
.success__course__title{
    margin: 10px 0;
    font-weight: 200;
    font-size: 20px;
}
.success__list{
    display: flex;
    justify-content: space-between
}
.success_item{
    max-width: 216px;
    border: 1px solid #ccc;
    /* z-index: 1; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);;
}
.success_item img{
    width: 100%;
}
.success__title{
    font-size: 16px;
    margin: 10px 10px;
    /* font-weight: 200; */
}
.success_author , .success_rating {
    margin: 10px 10px;

}
.success__price{
    font-size: 20px;
    text-align: end;
    margin: 20px 10px;
}
.success__price span {
    font-size: 14px;
    font-weight: 200;
    text-decoration: line-through;
}
footer{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.footer__teach{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.footer__teach--intro h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer__teach--intro p {
    font-size: 16px;
}
.footer__teach--btn{
    background-color: #000;
    border: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 2px 4px;
}
.footer__topCpn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* padding: 2px 4px; */
}
.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}
.footer__infor--list{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.footer__infor--list ul {
    list-style: none;
}
.footer__infor--list ul li {
    margin: 2px 0;
}
.btn__language button{
    padding: 10px 20px;
}
