// Items + price




// Product
.item {
    background: #fff;
    height: 400px;
    display: block;
    position: relative;
    margin-top: 50px;
    border: 1px solid #999;
}

.item__img {
    text-align: center;
}

.item__img > img {
    height: 122px;
    object-fit: cover;
}

.item__desc {
    padding: 6px 10px;
}

.item__desc-name {
    font-size: 20px;
    font-weight: bold;
}

.item__desc-content {
    height: 150px;
}

.price_item {
    font-size: 22px;
    font-weight: 600;
}

.item__add > button {
    outline: none;
    border: none;
    background-color: rgba(196, 51, 253, 0.6);
    padding: 6px 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

.shop__name-cart {
    display: flex;
}

.form__cart {
    display: flex;
    width: 80%;
}

.form__cart-img {
    margin-right: 20px;
}

.form__cart-img > img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}