*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
.header{
  width: 100%;
}
.header ul{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #ccc;
}
.product__listItem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 20px; */
}
.item__img{
  width: 100%;
  object-fit: cover;
}
.product__item{
  margin: 20px 20px;
  text-align: center;
  width: 25%;
}
.product__cart{
  width: 100%;
  margin: 20px 0;
}
table {
  width: 80%;
  margin: 0 auto;
}
table, th, td{
  border: 2px solid #000;
  border-collapse: collapse;
}
td{
  text-align: center;
}
td img{
  width: 40px;
}
td button{
  padding: 2px 6px;
  font-size: 14px;
  font-weight: bold;
}
.sum__cart td:nth-child(2n){
  font-size: 20px;
  background-color: #ccc;
  font-weight: bold;
}
.deleteAll{
  text-align: center;
}
.deleteAll button{
  margin-top: 10px;
  padding: 10px 10px;
}
h1.store__cart{
  width: 80%;
  margin: 0 auto;
  /* text-align: center; */
}
.product__groupstore{
  width: 80%;
  margin: 0 auto;
}
.store__name{
  color: red;
}
.store__listItem{
  width: 100%;
}
.store__item{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.store__item h2 {
  margin: 10px 0;
}