* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item {
  width: 600px;
  border: 3px solid red;
  display: flex;
  margin: 12px 0px;
}
.item-img {
  border-right: 3px solid red;
  text-align: center;
  /* height: auto; */
  align-items: center;
  width: 22%;
}
.hinh1 {
  /* margin: auto 0px; */
  margin: 39px 0px;
  /* margin-top: 111px; */
  display: block;
  /* height: 111px; */
  font-size: 19px;
  color: red;
  text-decoration: none;
}
.item-post {
  width: 78%;
}
.item-title {
  border-bottom: 3px solid red;
  font-size: 19px;
  font-weight: 500;
  color: red;
  padding-left: 10px;
}
.item-paragrap {
  color: red;
  font-size: 19px;
  padding-left: 10px;
}

/* css update */
header {
  height: 90px;
  display: flex;
  max-width: 100%;
  padding-right: 60px;
  background-color: aliceblue;
  padding-left: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #c5c5c5;
  align-items: center;
}
.header-logo-img {
  width: 220px;
  height: 89px;
  object-fit: cover;
}
.heade-logo {
}
.header-slogan {
}
.header-slogan-lable {
  color: darkslateblue;
  transform: translateX(-68%);
  font-size: 24px;
}
ul {
  height: 40px;
  color: white;
  align-items: center;
  width: 100%;
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}
.content {
  border-bottom: 1px solid #c5c5c5;
  background-color: burlywood;
  width: 100%;
  display: flex;
  height: auto;
}
.left-sidebar {
  width: 25%;
  text-align: center;
  background-color: aqua;
}
.left-sidebar-lable {
  position: relative;
  /* right: 0; */
  right: 0%;
  left: 0%;
  top: 50%;
}
.content-center {
  width: 50%;
  height: auto;
}
.content-center img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}
.content__center-item {
  padding: 13px 16px;
  border: 1px solid #fff;
  width: 100%;
  /* height: 30px; */
  display: flex;
  border: 0 1px 0 1px solid #c5c5c5;
}
.content__item-img {
}
.content__item- {
  flex: 1;
  margin-left: 20px;
}
.content__item-title {
  font-size: 19px;
  margin-top: 8px;
}
.content__item-lable {
  font-weight: 500;
  font-size: 19px;
  margin-top: 8px;
}
.right-sidebar {
  width: 25%;
  text-align: center;
  background-color: blueviolet;
}
.right-sidebar-lable {
  position: relative;
  /* right: 0; */
  right: 0%;
  left: 0%;
  top: 50%;
}
footer {
  width: 100%;
  height: 70px;

  background-color: aquamarine;
}
footer > h1 {
  font-size: 22px;
  font-weight: 500;
  transform: translateY(68%);
  text-align: center;
}
