:root {
  size-primary: 15px;
  color-primary: red;
}
.container {
  width: 650px;
  height: auto;
  border: 3px solid red;
}
header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid red;
  font-size: 18px;
}
.logo1 {
  width: 130px;
  padding: 30px 0px;
  color: red;
  text-decoration: none;
  text-align: center;
  /* height: 100%; */
  border-width: 100%;
  border-right: 3px solid red;
}
.header2 {
  font-weight: 500;
  font-size: 19px;
  transform: translateX(100%);
  /* text-align: center; */
  color: red;
}
.menu3 {
  text-align: center;
  line-height: 30px;
  color: red;
  font-size: 19px;
  border-bottom: 3px solid red;
  height: 30px;
}
.body {
  height: 280px;
  border-bottom: 3px solid red;
  display: flex;
  overflow: hidden;
}
.sidebarL {
  border-right: 3px solid red;
  width: 25%;
  color: red;
  padding-left: 6px;
  padding-top: 120px;
  padding-left: -11px;
  font-weight: 500;
  padding-right: -114px;
  padding-left: -91px;
  height: 300px;
  /* line-height: 250px; */
  font-size: 19px;
  margin: 0px;
}

.content {
  width: 50%;
  color: red;
  padding-top: 107px;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}

.sidebarR {
  width: 25%;
  color: red;
  padding-left: -11px;
  font-weight: 500;
  /* padding-left: 9px; */
  /* margin-left: 6px; */
  margin: 22px 0px;
  border-left: 3px solid red;
  padding-left: 10px;
  padding-top: 115px;
  /* transform: translateX(10px); */
  /* line-height: 78px; */
  /* height: 39px; */
  padding: -11px 0px;
  /* line-height: 20px; */
  font-size: 19px;
  margin: 0px;
}
